/* ccs reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** End of CSS reset *****************/

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* basic styling */

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(199, 197, 197);
}
body {
  overflow: scroll;
}
main {
  height: 100%;
}

h1 {
  color: black;
  font-size: 4rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #fff;
}

/* nav */
nav {
  background-color: black;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  align-items: center;
}
.nav-logo {
  width: 38%;
  height: 70px;
}
#video-store-logo {
  width: 60%;
  height: auto;
}
.nav-bar {
  display: none;
}
.nav-bar {
  width: 70%;
  height: 80px;
}
.hamburger-icon {
  width: 40%;
  margin-right: 10px;
}
.fa-film {
  font-size: 4rem;
  padding-right: 20px;
  color: white;
  text-align: center;
}
hr {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.646);
  box-shadow: 0 15px 15px -0px #333;
  margin: 0px;
}

/* Index page */
#header-image {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background-image: url("/images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#enter-button {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-secondary {
  width: 150px;
  height: 30px;
  text-align: center;
}
#section-one-index {
  background-color: rgb(231, 213, 213);
  padding: 20px;
  display: flex;
}
#quotes {
  position: relative;
  width: 150px;
  height: 200px;
}
.quote-one,
.quote-two,
.quote-three,
.quote-four,
.quote-five,
.quote-six {
  border-radius: 25px;
  border: 2px solid black;
}
.quote-one {
  position: absolute;
  left: 180px;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 10px;
}
.quote-two {
  position: absolute;
  left: 180px;
  top: 150px;
  width: 100px;
  height: 50px;
  text-align: center;
  padding: 10px;
}
.quote-three {
  position: absolute;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 130px;
  height: 65px;
  text-align: center;
  padding: 10px;
}
.quote-four {
  position: absolute;
  position: absolute;
  left: 10px;
  top: 100px;
  width: 100px;
  height: 35px;
  text-align: center;
  padding: 10px;
}
.quote-five {
  position: absolute;
  position: absolute;
  left: 140px;
  top: 80px;
  width: 100px;
  height: 50px;
  text-align: center;
  padding: 10px;
}
.quote-six {
  position: absolute;
  position: absolute;
  left: 10px;
  top: 150px;
  width: 100px;
  height: 50px;
  text-align: center;
  padding: 10px;
}

#section-two-index img {
  width: 100%;
  height: auto;
  background-position: center;
}
#section-two-index {
  display: flex;
}
#main-movie-image-one,
#main-movie-image-two,
#main-movie-image-three {
  width: 35%;
  height: auto;
  background-color: gray;
  border: 1px solid black;
}

/* movie-selection page */

#list-of-films {
  display: flex;
  overflow: scroll;
  /* justify-content */
}
.movie-card img {
  width: 200px;
  height: auto;
}
.movie-card {
  width: 200px;
}

/* FAQ page */

/* signup page */
#section-one-signup {
  width: 100%;
  height: auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
  background-color: rgb(199, 197, 197);
}
#section-two-signup {
  display: flex;
  /* flex-wrap: wrap; */
}
form {
  background-color: rgb(199, 197, 197);
  width: 100%;
  height: 300px;
  display: block;
}
#section-two-signup ul {
  display: flex;
  justify-content: flex-end;
}

/* login page  */

/* max-width: 768 */
@media (min-width: 768px) {
  #header-image {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-image: none;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* max-width: 1024 */
/* @media (max-width: 1024) { */
/* } */

/* possibly for desktop */
/* .nav-bar {
    width: 70%;
    height: 80px;
    display: flex;
  } */
/* .nav-bar li {
  display: inline;
  padding: 10px 5px 10px 5px;
}
.nav-bar li:last-child {
  padding-right: 10px;
}
.nav-bar a {
  color: white;
  height: 100px;
} */
