/* ccs reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
l samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** End of CSS reset *****************/

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* CSS variables */

:root {
  --background-color: rgb(199, 197, 197);
  --white-color: #fff;
  --black-color: black;
  --golden-color: rgba(255, 165, 0, 1);
}

/* basic styling */

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  overflow: scroll;
  background-color: var(--background-color);
}
main {
  width: 100%;
  height: 100%;

  /* background-color: rgb(199, 197, 197); */
}
h1 {
  color: var(--black-color);
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
::placeholder {
  font-size: 1.3rem;
}
input {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.h1-styling {
  width: 100%;
  height: auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
form {
  width: 100%;
  display: block;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 1.1rem;
}
input {
  padding: 10px;
  margin-bottom: 15px;
  width: 70%;
}
input[type="password"] {
  margin-bottom: 10px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer > img {
  width: 35px;
}
footer > p {
  color: var(--white-color);
  padding: 5px 0px;
  font-size: 0.9rem;
}
.nav-link a:hover {
  font-weight: 700;
}
.navbar-nav a:hover {
  font-weight: 700;
}
.navbar-nav {
  flex-direction: column;
  align-items: flex-end;
}
#navbarNav a {
  font-size: 1.8rem;
  margin: 0px 5px 5px 0px;
}

.bg-dark {
  background-color: black !important;
}
.hamburger {
  font-size: 3rem;
  color: var(--white-color);
}
#video-store-logo {
  width: 40%;
  height: 10%;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.646);
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
  margin: 0px;
}

button:focus {
  outline: 5px auto rgba(255, 255, 255, 0.1);
}
@media (min-width: 375px) {
  .nav-logo {
    margin-bottom: 10px;
  }
}

@media (min-width: 425px) {
  .nav-logo {
    margin-bottom: 15px;
  }

  ::placeholder {
    font-size: 1.5rem;
  }
  input {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .nav-logo {
    margin-bottom: 20px;
  }
  .hamburger {
    font-size: 3.3rem;
  }
  #section-one-movie-select h1 {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .nav-logo {
    margin-bottom: 20px;
  }
  main {
    min-height: 870px;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  #navbarNav a {
    font-size: 2rem;
    margin-right: 30px;
  }
  h3 {
    font-size: 3rem;
  }
  footer {
    height: 80px;
  }
  footer p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .nav-bar {
    width: 600px;
    height: 70px;
    display: flex !important;
    left: 56%;
    top: 10px;
    justify-content: center;
    align-items: center;
  }
  footer {
    padding: 40px;
  }
  main {
    min-height: 1020px;
  }
  p {
    font-size: 2.2rem;
  }

  #navbarNav a {
    font-size: 2.2rem;
  }
}

/* Index page */
#header-image {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background-image: url("../images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#enter-button {
  text-align: center;
  padding-top: 80px;

  background-color: var(--black-color);
  color: var(--white-color);
}
.btn-secondary {
  width: 150px;
  height: 30px;
  text-align: center;
}
.btn-enter a:hover,
.btn-secondary a:hover {
  color: var(--white-color);
  box-shadow: 0px 0px 50px 0px var(--golden-color);
  transition: background-color 40s linear;
}
.btn-enter {
  background-color: var(--black-color);
  border: none;
}
.btn-enter a h3:hover {
  font-size: 3rem;
}

#section-one-index {
  width: 100%;
  height: 250px;
  padding: 10px;
  display: flex;
}

#quotes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.quote-wizard-oz,
.hidden-quote-taken,
.quote-forest-gump,
.hidden-quote-shinning,
.quote-jerry-maguire,
.quote-lord-of-the-rings,
.quote-dirty-dancing,
.hidden-quote-spiderman,
.hidden-quote-gone-with-the-wind,
.hidden-quote-godfather,
.hidden-quote-jaws {
  border-radius: 25px;
  border: 2px solid var(--black-color);
  background-color: var(--white-color);
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0px 5px;
}

.hidden-quote-taken,
.hidden-quote-shinning,
.hidden-quote-spiderman,
.hidden-quote-godfather,
.hidden-quote-jaws {
  display: none;
}
.quote-wizard-oz {
  width: 140px;
  height: 60px;
}
.quote-forest-gump {
  height: 60px;
  width: 300px;
}
.quote-jerry-maguire {
  height: 50px;
  width: 100px;
}
.quote-lord-of-the-rings {
  height: 40px;
  width: 100px;
}
.quote-dirty-dancing {
  height: 55px;
  width: 120px;
  margin-left: 40px;
}
.hidden-quote-gone-with-the-wind {
  display: none;
}
#section-two-index img {
  width: 100%;
  height: auto;
  background-position: center;
}
#section-two-index {
  display: flex;
}

@media (min-width: 375px) {
  .quote-wizard-oz {
    margin-left: 50px;
  }

  .quote-forest-gump {
    height: 50px;
    margin-top: 10px;
  }

  .quote-dirty-dancing {
    margin-left: 100px;
    height: 50px;
  }
  .quote-jerry-maguire {
    margin-left: 130px;
    margin-top: 10px;
  }

  .hidden-quote-shinning {
    display: block;
    margin: 10px 10px 0px 0px;
  }
}

@media (min-width: 425px) {
  .quote-wizard-oz {
    margin-left: 120px;
  }
  .quote-forest-gump {
    margin-top: 10px;
  }
  .quote-jerry-maguire {
    margin-left: 150px;
  }
}

@media (min-width: 768px) {
  .hidden-quote-taken {
    display: block;
  }
  .quote-wizard-oz {
    margin-left: 70px;
    margin-top: 20px;
  }
  .quote-forest-gump {
    margin-bottom: 20px;
  }
  .hidden-quote-taken {
    margin-left: 150px;
    height: 100px;
    width: 200px;
  }
  .hidden-quote-shinning {
    margin: 0px 0px 0px 60px;
    height: 50px;
    display: block;
  }
  .hidden-quote-spiderman {
    margin-left: 120px;
    display: block;
  }
}

@media (min-width: 1024px) {
  #header-image {
    height: 800px;
  }
  #section-one-index {
    height: 500px;
  }
  #enter-button {
    padding-top: 150px;
  }
  .btn-enter a h3:hover {
    font-size: 3.5rem;
  }
  .hidden-quote-taken {
    display: block;
    width: 350px;
    height: 150px;
  }
  .hidden-quote-shinning {
    display: block;
    height: 90px;
    margin-right: 30px;
  }
  .hidden-quote-spiderman {
    display: block;
    width: 200px;
    height: 115px;
  }
  .quote-wizard-oz {
    width: 160px;
    height: 100px;
    margin-top: 0px;
  }
  .quote-forest-gump {
    height: 150px;
    width: 230px;
  }
  .quote-jerry-maguire {
    height: 100px;
    width: 150px;
    margin: 0px;
  }
  .quote-lord-of-the-rings {
    height: 100px;
    width: 150px;
  }
  .quote-wizard-oz {
    width: 230px;
    height: 120px;
  }
  .quote-dirty-dancing {
    height: 150px;
    width: 150px;
  }
  .hidden-quote-godfather {
    display: block;
    height: 100px;
    width: 250px;
    margin-left: 40px;
  }
  .hidden-quote-jaws {
    display: block;
    height: 100px;
    width: 200px;
    margin-left: 20px;
  }
  #quotes {
    margin-top: 20px;
  }
  #quotes p {
    font-size: 2rem;
    padding: 20px;
  }
}
@media (min-width: 1440px) {
  .btn-enter a h3:hover {
    font-size: 4rem;
  }
  #quotes {
    justify-content: space-around;
    align-items: center;
  }
  #section-two-index {
    margin-top: 0px;
  }
  .hidden-quote-gone-with-the-wind {
    display: bold;
    font-size: 1.6rem;
    width: 140px;
    height: 100px;
  }
  .quote-dirty-dancing {
    height: 120px;
    width: 150px;
  }
  .quote-jerry-maguire {
    height: 100px;
    width: 150px;
  }
  .hidden-quote-taken {
    display: block;
    width: 350px;
    margin-left: 120px;
  }
  .quote-forest-gump {
    margin-left: 120px;
  }
  .hidden-quote-jaws {
    display: none;
  }
}

/* movie-selection page */
#section-one-movie-selector {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#list-of-films {
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
}

.movie-card {
  margin: 0 auto;
  height: 500px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  border-radius: 10px;
}

.movie-container {
  position: relative;
}

.movie-card p {
  display: none;
}

.text-overlay {
  display: none;
  padding: 15px;
}
.text-overlay h2 {
  text-align: center;
  padding: 10px;
}

.text-overlay p {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 25px;
}

.text-show p {
  display: block;
}

.text-show {
  display: block;
  position: absolute;
  margin: 0 auto;
  height: 490px;
  width: 320px;
  border-radius: 10px;
  color: var(--white-color);
  top: 0px;
  background-color: var(--black-color);
  border: 2px solid rgb(223, 12, 12);
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgb(241, 8, 8);
}
.rent-film {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.rent-film button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  padding: 20px;
  font-size: 1.4rem;
  color: var(--white-color);
  border: 2px solid rgb(161, 62, 62);
  border-radius: 6px;
  background-color: var(--black-color);
  margin-left: 35px;
}

.rent-film button:hover {
  border: 2px solid rgb(161, 62, 62);
  font-weight: 700;
  color: var(--white-color);
  width: 120px;
}

.success-rented {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: var(--golden-color);
  margin: 10px 0px 20px 0px;
  font-size: 1.3rem;
  box-shadow: 0 50px 100px var(--golden-color);
  border-radius: 5px;
}

#all-stars {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}
.stars-full {
  color: yellow;
}

.fa-heart {
  font-size: 2.5rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.heart-full {
  color: red;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
#top-page {
  padding: 20px;
  text-align: center;
}
#top-page > a {
  font-size: 1.9rem;
  color: black;
}
#top-page > a:visited {
  color: black;
}

@media (min-width: 375px) {
  .text-show {
    margin-left: 28px;
  }
}

@media (min-width: 425px) {
  .text-show {
    margin-left: 53px;
  }
  .rent-film button {
    font-size: 1.3rem;
    width: 120px;
  }
}
@media (min-width: 768px) {
  #list-of-films {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
  }

  #section-two-movie-selector {
    display: flex;
    flex-wrap: wrap;
  }

  .text-show {
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  .movie-card {
    height: 450px;
  }
  .text-show {
    height: 450px;
  }
  .rent-film button {
    font-size: 1.3rem;
    width: 120px;
    margin-top: 10px;
  }

  .text-overlay p {
    font-size: 1.5rem;
    line-height: 20px;
  }
}

/* FAQ page */

.questions {
  padding: 15px;
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 10px;
}
#section-two-faq {
  padding: 20px;
}
#section-two-faq p {
  font-size: 1.6rem;
  padding: 10px;
  text-align: center;
}
#section-two-faq a {
  color: black;
  font-size: 1.6rem;
}
#section-two-faq a:hover {
  color: var(--white-color);
  font-size: 1.8rem;
}
.answer-after {
  display: none;
}
.questions:hover {
  box-shadow: 0px 0px 100px 0px var(--golden-color);
  transition: 0.2s ease;
}
.answer {
  font-weight: 700;
  display: block;
  margin: 0;
}

/* @media (min-width: 1440px) {
  .questions {
    margin-bottom: 40px;
    padding: 30px;
  }
} */

@media (min-width: 1024px) {
  .questions {
    padding: 30px;
    width: 100%;
    height: auto;
    border: 1px solid var(--black-color);
    margin-bottom: 45px;
  }
  #section-two-faq {
    padding: 20px;
    margin-bottom: 60px;
  }

  #section-one-faq > h1 {
    margin: 5px 0px 5px 0px;
  }
  #section-two-faq p,
  #section-two-faq a {
    font-size: 1.8rem;
  }
  #section-two-faq a:hover {
    font-size: 2rem;
  }
}
@media (min-width: 1440px) {
  #section-two-faq p,
  #section-two-faq a {
    font-size: 2.3rem;
  }
  #section-two-faq a:hover {
    font-size: 2.6rem;
  }
  #section-two-faq {
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* signup page */
.form-signup {
  height: 350px;
}

.btns {
  margin: 15px 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pulp-fiction {
  margin: 0px, 20px, 20px, 20px;
  width: 80%;
  height: auto;
}
#pulp-fiction > img {
  width: 100%;
  height: auto;
}

#section-two-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-signup input {
  width: 200px;
}
#error-messages,
#success-messages {
  margin: 0 auto;
  margin-bottom: 20px;
}
.message-container {
  background-color: rgba(243, 21, 21, 0.89);
  box-shadow: 0 0 30px rgb(48, 41, 4);
  color: var(--white-color);
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  line-height: 15px;
  font-size: 1.4rem;
}
.success-container {
  background-color: var(--golden-color);
  box-shadow: 0 0 30px var(--golden-color);
  height: 50px;
  text-align: center;
  color: var(--white-color);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
}

@media (min-width: 425px) {
  .form-signup {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  #pulp-fiction {
    width: 60%;
    height: auto;
  }
  .sign-up-btn {
    padding: 20px;
  }
  .form-signup {
    height: 400px;
  }
  .form-signup input {
    margin-bottom: 20px;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  #pulp-fiction {
    width: 50%;
    height: auto;
    align-self: center;
    justify-content: flex-end;
    margin-left: 20px;
  }

  #pulp-fiction > img {
    width: 80%;
    height: auto;
  }
  .sign-up-btn {
    padding: 40px;
  }
  .form-signup {
    height: 503px;
    width: 385px;
    margin: 0px 20px 0px 0px;
  }
  .form-signup input {
    margin-bottom: 30px;
    padding: 15px;
    width: 300px;
  }
  #section-one-signup {
    margin-top: 20px;
  }
  .h1-styling h1 {
    padding: 40px;
  }
  #section-two-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .message-container {
    line-height: 2.2rem;
  }

  /* #error-messages {
    display: none;
  } */
}
@media (min-width: 1440px) {
  #pulp-fiction {
    width: 45%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    margin: 0px, 20px, 80px, 20px;
  }

  #pulp-fiction > img {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
  }
  .sign-up-btn {
    padding: 60px;
  }
  .form-signup {
    height: 350px;
    width: 600px;
  }
  input {
    width: 400px;
    padding: 20px;
  }
  .form-signup input {
    margin-bottom: 30px;
    padding: 15px;
    width: 300px;
  }
  #section-one-signup {
    margin-top: 40px;
  }
  .message-container {
    line-height: 2.2rem;
  }
  #error-messages {
    height: 127px;
    width: 400px;
  }
}

/* login page  */
#section-two-login {
  width: 100%;
  height: auto;
}
#popcorn-image {
  padding-bottom: 0;
  text-align: center;
}

#popcorn-image > img {
  width: 30%;
  height: auto;
  padding: 20px 0px 20px 0px;
}

#popcorn-image > img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.form-login {
  height: 200px;
}

.incorrect-message,
.correct-message {
  color: var(--white-color);
  margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  line-height: 15px;
  font-size: 1.2rem;
  text-align: center;
}
.incorrect-message {
  background-color: rgba(243, 21, 21, 0.89);
  box-shadow: 0 0 30px rgb(48, 41, 4);
}
.correct-message {
  background-color: var(--golden-color);
  box-shadow: 0 0 30px var(--golden-color);
}

@media (min-width: 375px) {
  .incorrect-message,
  .correct-message {
    width: 80%;
  }
}

@media (min-width: 768px) {
  #section-two-login input {
    width: 250px;
    height: auto;
  }
  #popcorn-image > img {
    width: 20%;
    height: auto;
    padding: 20px 0px 20px 0px;
  }
  .incorrect-message,
  .correct-message {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  #section-two-login input {
    width: 300px;
  }
  #popcorn-image > img {
    width: 20%;
    height: auto;
    padding: 20px 0px 20px 0px;
  }
  .incorrect-message {
    line-height: 2.2rem;
    padding: 30px;
    margin-top: 20px;
  }
  .incorrect-message,
  .correct-message {
    font-size: 1.5rem;
  }
  .form-signup {
    height: 500px;
  }
}

@media (min-width: 1440px) {
  #section-two-login input {
    width: 300px;
  }
  #popcorn-image > img {
    width: 20%;
    height: auto;
    padding: 20px 0px 20px 0px;
  }

  .incorrect-message,
  .correct-message {
    line-height: 2.2rem;
    margin-top: 50px;
  }
}
