/* ccs reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
l samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** End of CSS reset *****************/

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* CSS variables */

:root {
  --background-color: rgb(199, 197, 197);
  --white-color: #fff;
  --black-color: black;
}

/* basic styling */

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  overflow: scroll;
  background-color: var(--background-color);
}
main {
  width: 100%;
  height: 100%;

  /* background-color: rgb(199, 197, 197); */
}
h1 {
  color: var(--black-color);
  font-size: 4rem;
  font-weight: 700;
}
::placeholder {
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.h1-styling {
  width: 100%;
  height: auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
form {
  width: 100%;
  display: block;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 1.1rem;
}
input {
  padding: 10px;
  margin-bottom: 15px;
  width: 70%;
}
input[type="password"] {
  margin-bottom: 10px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* position: fixed;
  bottom: 0px; */
}
footer > img {
  width: 35px;
}
footer > p {
  color: var(--white-color);
  padding: 5px 0px;
  font-size: 0.7rem;
}
/* @media (min-width: 1024px) { */
  /* main {
    min-height: 900px;
  } */
/* } */

/* nav */

.navbar-nav {
  flex-direction: column;
  align-items: flex-end;
}
#navbarNav a {
  font-size: 1.8rem;
  margin: 0px 5px 5px 0px;
}

.bg-dark {
  background-color: black !important;
}
.hamburger {
  font-size: 3rem;
  color: var(--white-color);
}
#video-store-logo {
  width: 40%;
  height: 10%;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.646);
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
  margin: 0px;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto rgba(255, 255, 255, 0.1);
}
@media (min-width: 375px) {
  .nav-logo {
    margin-bottom: 10px;
  }
}

@media (min-width: 425px) {
  .nav-logo {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .nav-logo {
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .nav-logo {
    margin-bottom: 20px;
  }
  main{
    min-height: 900px;
  }


  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  #navbarNav a {
    font-size: 1.8rem;
    margin-right: 30px;
  }
}
@media (min-width: 1440px) {
  .nav-bar {
    width: 600px;
    height: 70px;
    display: flex !important;
    left: 56%;
    top: 10px;
    justify-content: center;
    align-items: center;
  }
}

/* Index page */
#header-image {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background-image: url("/images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#enter-button {
  text-align: center;
  padding-top: 50px;
  background-color: black;
  color: var(--white-color);
}
.btn-secondary {
  width: 150px;
  height: 30px;
  text-align: center;
}
.btn-enter a:hover,
.btn-secondary a:hover {
  color: var(--white-color);
  box-shadow: 0px 0px 50px 0px rgba(255, 165, 0, 1);
  transition: background-color 40s linear;
}
.btn-enter {
  /* width: 170px;
  height: 35px; */
  background-color: black;
  border: none;
}

#section-one-index {
  width: 100%;
  height: 250px;
  padding: 10px;
  display: flex;
}
/* #quotes {
  position: relative;
  width: 100%;
  height: auto;
} */

#quotes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.quote-wizard-oz,
.hidden-quote-taken,
.quote-forest-gump,
.hidden-quote-shinning,
.quote-jerry-maguire,
.quote-lord-of-the-rings,
.quote-dirty-dancing,
.hidden-quote-spiderman {
  border-radius: 25px;
  border: 2px solid black;
  background-color: var(--white-color);
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0px 5px;
}

.hidden-quote-taken,
.hidden-quote-shinning,
.hidden-quote-spiderman {
  display: none;
}
.quote-wizard-oz {
  width: 140px;
  height: 60px;
}
.quote-forest-gump {
  height: 60px;
  width: 300px;
}
.quote-jerry-maguire {
  height: 50px;
  width: 100px;
}
.quote-lord-of-the-rings {
  height: 40px;
  width: 100px;
}
.quote-dirty-dancing {
  height: 55px;
  width: 120px;
  margin-left: 40px;
}
#section-two-index img {
  width: 100%;
  height: auto;
  background-position: center;
}
#section-two-index {
  display: flex;
}

@media (min-width: 375px) {
  .quote-wizard-oz {
    margin-left: 50px;
  }

  .quote-forest-gump {
    height: 50px;
    margin-top: 10px;
  }

  .quote-dirty-dancing {
    margin-left: 100px;
    height: 50px;
  }
  .quote-jerry-maguire {
    margin-left: 130px;
    margin-top: 10px;
  }

  .hidden-quote-shinning {
    display: block;
    margin: 10px 10px 0px 0px;
  }
}

@media (min-width: 425px) {
  .quote-wizard-oz {
    margin-left: 120px;
  }
  .quote-forest-gump {
    margin-top: 10px;
  }
  .quote-jerry-maguire {
    margin-left: 150px;
  }
}

@media (min-width: 768px) {
  .hidden-quote-taken {
    display: block;
  }
  .quote-wizard-oz {
    margin-left: 70px;
    margin-top: 20px;
  }
  .quote-forest-gump {
    margin-bottom: 20px;
  }
  .hidden-quote-taken {
    margin-left: 150px;
    height: 100px;
    width: 200px;
  }
  .hidden-quote-shinning {
    margin: 0px 0px 0px 60px;
    height: 50px;
    display: block;
  }
  .hidden-quote-spiderman {
    margin-left: 120px;
    display: block;
  }
}

@media (min-width: 1024px) {
  #section-one-index {
    height: 300px;
  }
  .quote-wizard-oz,
  .hidden-quote-taken,
  .quote-forest-gump,
  .hidden-quote-shinning,
  .quote-jerry-maguire,
  .quote-lord-of-the-rings,
  .quote-dirty-dancing,
  .hidden-quote-spiderman {
    padding: 20px;
    font-size: 1.6rem;
  }

  .hidden-quote-taken {
    display: block;
    width: 350px;
    margin: 0px;
  }
  .hidden-quote-shinning {
    display: block;
    height: 60px;
    margin-right: 20px;
  }
  .hidden-quote-spiderman {
    display: block;
    width: 200px;
    height: 90px;
  }
  .quote-wizard-oz {
    width: 160px;
    height: 100px;
    margin-top: 0px;
  }
  .quote-forest-gump {
    height: 110px;
    width: 220px;
  }
  .quote-jerry-maguire {
    height: 90px;
    width: 100px;
    margin: 0px;
  }
  .quote-lord-of-the-rings {
    height: 80px;
    width: 100px;
  }
  .quote-dirty-dancing {
    height: 100px;
    width: 120px;
    margin: 0px 0px 10px 70px;
  }
  #quotes {
    margin-top: 20px;
  }
  #enter-button a {
    font-size: 2.3rem;
  }
}

/* movie-selection page */
#section-one-movie-selector {
  padding: 20px;
  display: flex;
  justify-content: center;
}
#section-one-movie-selector > h1 {
  width: 270px;
}
#list-of-films {
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
}


.movie-card {
  margin: 0 auto;
  height: 500px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  border-radius: 10px;
}

.movie-container {
  position: relative;
}

.movie-card p {
  display: none;
  font-size: 1rem;
}

.text-overlay {
  display: none;
  padding: 15px;
}
.text-overlay h2 {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}

.text-overlay p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 25px;
}

.text-show p {
  display: block;
}

.text-show {
  display: block;
  position: absolute;
  margin: 0 auto;
  height: 490px;
  width: 320px;
  border-radius: 10px;
  color: var(--white-color);
  top: 0px;
  background-color: var(--black-color);
  border: 2px solid rgb(161, 62, 62);
  margin-bottom: 20px;
}
#all-stars {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}
.stars-full {
  color: yellow;
}


@media (min-width: 375px) {
  .text-show {
    margin-left: 28px;
  }

}

@media (min-width: 425px) {
  .text-show {
    margin-left: 53px;
  }
}
@media (min-width: 768px) {
  #list-of-films {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  border-radius: 10px;

  }

  #section-two-movie-selector {
    display: flex;
    flex-wrap: wrap;
  }

  .text-show {
    margin-left: 0px;
  }
}

@media (min-width: 1024px) {
  .movie-card{
    height: 450px;
  }
  .text-show{
    height: 500px;
  }
 #all-stars{
    margin: 70px 0px 40px 0px;

  }

}


/* FAQ page */

.questions {
  padding: 15px;
  width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 10px;
}
#section-two-faq {
  padding: 20px;
}
#section-two-faq p {
  font-size: 1.6rem;
  padding: 10px;
  text-align: center;
}
#section-two-faq a {
  color: black;
  font-size: 1.6rem;
}
.answer-after {
  display: none;
}
.questions:hover {
  box-shadow: 0px 0px 100px 0px rgba(255, 165, 0, 1);
  transition: 0.2s ease;
}
.answer {
  font-weight: 700;
  display: block;
  margin: 0;
}

@media (max-width: 1440px) {
  .questions {
    margin-bottom: 40px;
    padding: 30px;
  }
}

@media (max-width: 1440px) {
  .questions {
    padding: 30px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 45px;
  }
  #section-two-faq {
    padding: 20px;
    /* height: 570px; */
  }
  footer {
    padding: 40px;
  }
  #section-one-faq > h1 {
    margin: 30px 0px 20px 0px;
  }
}

/* signup page */
.form-signup {
  height: 350px;
}

.btns {
  margin: 15px 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .sign-up-btn {
    padding: 20px;
  }
  .form-signup {
    height: 400px;
  }
  .form-signup input {
    margin-bottom: 20px;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  main {
    min-height: 900px;
  }
  .sign-up-btn {
    padding: 40px;
  }
  .form-signup {
    height: 350px;
  }
  .form-signup input {
    margin-bottom: 30px;
    padding: 15px;
    width: 300px;
  }
  #section-one-signup {
    margin-top: 20px;
  }
}
@media (min-width: 1440px) {
  
  .sign-up-btn {
    padding: 60px;
  }
  .form-signup {
    height: 350px;
  }
  .form-signup input {
    margin-bottom: 30px;
    padding: 15px;
    width: 300px;
  }
  #section-one-signup {
    margin-top: 40px;
  }
  .h1-styling h1{
    padding: 30px;
  }
}

/* login page  */
#section-two-login {
  width: 100%;
  height: auto;
}
#popcorn-image {
  padding-bottom: 0;
  text-align: center;
}
#popcorn-image > img {
  width: 30%;
  height: auto;
  padding: 20px 0px 20px 0px;
}
.form-login {
  height: 200px;
}

.message-container p.correct-message {
  background-color: gold;
  box-shadow: 0 0 30px rgb(48, 41, 4);
}

.message-container p.incorrect-message {
  background-color: red;
  box-shadow: 0 0 30px rgb(22, 5, 5);
}

/* max-width: 768 */
@media (min-width: 768px) {
  #section-two-login input {
    width: 250px;
    height: auto;
  }
  #popcorn-image > img {
    width: 20%;
    height: auto;
    padding: 20px 0px 20px 0px;
  }
}
/* max-width: 1024 */
@media (min-width: 1024px) {
  #section-two-login input {
    width: 300px;
  }
  #popcorn-image > img {
    width: 20%;
    height: auto;
    padding: 20px 0px 20px 0px;
  }

  @media (min-width: 1440px) {
    #section-two-login input {
      width: 300px;
    }
    #popcorn-image > img {
      width: 20%;
      height: auto;
      padding: 20px 0px 20px 0px;
    }

}
